@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-container {
  width: 100%;
  min-height: 100vh;
  background: url('/Base.png') no-repeat #fff;
  @include flex-column;
  &__holder {
    width: 100%;
    max-width: 1000px;
    margin: auto auto 0 auto;
    height: auto;
    padding: 0 15px;
    @include flex-column;
    > span {
      margin-bottom: 60px;
      max-width: 300px;
      text-align: center;
      color: rgba(0, 0, 0, 0.65);
    }
  }
  img {
    margin-bottom: 30px;
  }
  &__search-area {
    width: 100%;
    position: relative;
    input {
      height: 67px;
      border: 1px solid #9aabc2;
      background: #fff;
      color: #9aabc2;
      border-radius: 33px;
      box-shadow: 0px 3px 11.52px 0.48px rgba(34, 45, 56, 0.07);
      width: 100%;
      padding: 0 25px;
      line-height: 36px;
      font-size: 20px;
      padding-left: 40px;
      transition: border-color 0.3s ease;
      outline: none;
    }
    input:focus {
      border: 1px solid #364c62;
    }
    input:hover {
      border-color: #467bbc !important;
    }
    i {
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 26px;
      z-index: 1;
      color: #467bbc;
      cursor: pointer;
    }
  }
  &__search-type {
    width: 100%;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    label {
      margin-left: 12px;
      padding: 5px 15px;
      border: 1px solid #ccd5e0;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.5s;
    }
    label:hover {
      border-color: #467bbc;
      color: #467bbc;
    }
  }
}
.copyright-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1270px;
  width: 100%;
  padding: 20px;
  height: auto;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  a,
  span {
    margin: 0 7px;
    color: #467bbd;
  }
  &__informer span {
    color: rgba(0, 0, 0, 0.65) !important;
  }
}
.finded-container {
  border-top: none !important;
}
.finded {
  width: 100%;
  padding: 10px 25px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.finded:hover {
  background-color: #97defe;
  cursor: pointer;
  a {
    color: #000;
  }
}
