@media screen and (max-width: 576px) {
  .search-container__holder img {
    max-width: 200px;
  }
  .search-container__search-area input {
    height: 56px;
  }
  .copyright-container {
    flex-direction: column;
    align-items: center;
    &__informer {
      margin-top: 20px;
    }
  }
}
